.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  width: 25%;
}
.sidebar-link {
  border-radius: 50px;
  background-color: white;
  color: #121212;
  padding: 1rem 1rem;
  width: 100%;
}
.sidebar-link li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sidebar-icon {
  margin-right: 1rem;
  font-size: 2rem;
}
