.user-info {
  background-color: var(--chelsea-blue);
  border-radius: 8px;
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.sidebar a,
.sidebar a:hover,
.sidebar a:active {
  color: #f5f5f5;
  text-decoration: none;
}
.sidebar-list {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  width: 100%;
}
.sidebar-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  padding: 1rem 1rem;
  width: 100%;
  transition: 0.2s ease;
}
.normal:hover {
  background-color: #141414;
}
.normal:active,
.normal:focus-visible {
  background-color: #2b2b2b;
}
.new-button {
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
}
.sidebar-icon {
  margin-right: 1rem;
  font-size: 2rem;
}
.signout-button {
  margin-bottom: 1rem;
  width: 90%;
}

/* POSTS */

.posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  width: 40%;
  min-height: 90vh;
  margin-bottom: 15vh;
}
.post {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
}
.post-delete {
  border: 1px solid var(--crimson);
  text-align: center;
  border-radius: 50%;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
}
.post-delete:hover {
  border: 1px solid var(--candy-red);
  background-color: var(--crimson);
}
.post-delete:active {
  border: 1px solid var(--candy-red);
  background-color: var(--candy-red);
}
.post-inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .posts {
    width: 80%;
  }
}
@media only screen and (min-width: 601px) {
  .posts {
    width: 80%;
  }
}

/* @media only screen and (min-width: 768px) {
  .sidebar {
    top: 0;
    left: 0;
    width: 30%;
  }
  .sidebar-list {
    flex-direction: column;
    width: 30%;
  }
  .posts {
    width: 50%;
  }
} */

@media only screen and (max-width: 992px) {
  .sidebar {
    background-color: black;
    position: fixed;
    bottom: 0;
  }
  .sidebar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100vw;
  }
  .user-info,
  .signout-button,
  .signout-button-link {
    display: none;
    visibility: hidden;
  }
  .sidebar-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 1rem;
    width: auto;
    transition: 0.2s ease;
    margin: 0.25rem;
  }
  .new-button {
    background-color: black;
    width: auto;
  }
  .sidebar-item-text {
    display: none;
    visibility: hidden;
  }
  .sidebar-icon {
    margin: 0;
  }
}
@media only screen and (min-width: 993px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }
  .sidebar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
  }
  .new-button svg {
    display: none;
    visibility: hidden;
  }
  .posts {
    width: 40%;
  }
}
