.new-post-form {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
}
.post-close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 32px;
  height: 32px;
  padding: 0.5rem;
  margin: 0;
}
.new-post-input {
  border: 3px solid transparent;
  border-radius: 8px;
  height: 10vh;
  padding: 0.5rem 0.5rem;
  outline: 0;
  resize: none;
  overflow: auto;
  width: 100%;
  transition: 0.5s ease;
  font-family: sans-serif;
  font-weight: 500;
}
.new-post-input:focus-visible {
  border: 3px solid var(--azure);
  height: 20vh;
}
.post-submit {
  width: 30%;
}
